// Customizações extras :)
.texto-mapa{
    display: block;
    color: #181818;
    font-weight: 400;
    font-size: 1.4rem;
    border: 1px solid #18181863;
    border-radius: 10px;
    background-color: #f5f5f557;
    width: 80%;
}