<div id="primeiroEX">
    <div class="row">
        <div class="col-sm-8">
            <canvas id="board" style="max-width: 100%;">
            </canvas> 
        </div>
        <div class="col-sm-4">
            <p class="texto">
            Pinte todas as casas das linhas pares no tabuleiro.
            </p> 
            <div class="row">
                <div class="col-sm-6">
                    <input type="color" id="color" name="color" value="#ff0000">
                    <button id="eraser" class="btn btn-danger"><i class="fas fa-undo-alt fa-3x"></i></button>
                </div>
                <div class="col-sm-6">
                    <label for="color" class="text-center texto">Escolha a cor do pincel aqui!</label>
                    <button id="proximo" class="btn btn-success"><i class="fas fa-check fa-3x"></i></i></button>
                </div>
            </div>
        </div>
    </div>               
</div>             

<style>
    .img-pecas{
        max-width: 5em;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #board{
        background-image: url('../../../../public/img/tabuleiro.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: center;
        display: inline;
    }

canvas{
    height: 100%;
}

input{
    margin: 1rem;
    width: 150px;
    height: 3rem;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

.texto{
    font-size: 1.3rem;
    margin-top: 1rem;
    font-family: 'Yomogi', cursive;
}

#eraser{
    display: inline;
    margin-right: 1rem;
}

.btn{
    margin-top: 2rem;
    margin-right: 1rem;
}

.image{
    background-image: url('.../img/tabuleiroex2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    min-height: 100vh;
}

.img-icone{
    width: -webkit-fill-available;
}

.ex2{
    font-size: 2rem;
}

</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {

    const pincel = {
        ativo: false,
        movendo: false,
        pos:{x:0, y:0},
        posAnterior: null
    }
    const board = document.querySelector("#board");
    const color = document.querySelector("#color");

    const context = board.getContext('2d');

    board.width = 800
    board.height = 800 

    context.lineWidth = 3;
    color.addEventListener('change', ()=>{
        context.globalCompositeOperation = 'source-over';
        context.strokeStyle = color.value;
    })
    
    const eraser = document.querySelector("#eraser");
    eraser.addEventListener('click', () => {
        context.globalCompositeOperation = 'source-out';
        context.strokeStyle = 'rgba(1,0,0,0)';
    })
    
    const desenharLinha = (linha) => {
        context.beginPath();
        context.moveTo(linha.posAnterior.x, linha.posAnterior.y);
        context.lineTo(linha.pos.x, linha.pos.y);
        context.stroke();
    }

    board.onmousedown = (evento) => {pincel.ativo = true};
    window.onmouseup = (evento) => {pincel.ativo = false};
    board.onmousemove = (evento) => {
        var rect = board.getBoundingClientRect();
        pincel.pos.x = evento.clientX - rect.left;
        pincel.pos.y = evento.clientY - rect.top;
        pincel.movendo = true;
    }


    const ciclo = () => {
        if(pincel.ativo && pincel.movendo && pincel.posAnterior){
            desenharLinha({pos: pincel.pos, posAnterior: pincel.posAnterior})
            pincel.movendo = false;  
        }
        pincel.posAnterior = {x: pincel.pos.x, y:pincel.pos.y}
        setTimeout(ciclo, 40);
    }

    ciclo();

    //---------- PRÓXIMO EXERCÍCIO ---------//

})

$(() => { 
    $('#proximo').attr('disabled', false)
    $("#proximo").on("click", function(){
    if (JsonWebApi.active)
        return;

    let aprovado = 1, nota = 10;
    let idturma = <%-lista.id%>;
    let idatividade = <%-atividade%>;

    Swal.wait();

    JsonWebApi.post("<%- root %>/api/atividade/registrarTentativa", {
        idturma,
        idatividade,
        nota,
        aprovado
    }, function (response) {
        if (response.success) {
            Swal.success("Atividade concluída com sucesso! " + emoji.happy);
        } else {
            Swal.error(response.value + " " + emoji.sad);
        }
    });
})})
</script>