<div class="">
    <p>livro 2 atividade 1</p>
    <button type="button" onclick="teste()">Teste</button>
</div>
<script>
    function teste() {
        alert(atividade + " - " + livro);
    }
</script>
