<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<a href="https://portalsistemax.com.br" target="_blank">
				<small>Copyright &copy; 2022 Sistema X</small>
			</a>
		</div>
	</div>
</footer>
