<div class="text-center">

    <div style="text-align: left; margin-top: 1em;">
        <a class="" href="/notas"><i class="fas fa-arrow-left fa-2x"></i></a>
    </div>

    <div class="container-fluid mt-5 mb-5" style="padding: 0 2em 0 2em;">
        <div class="progress" style="background-color: #e3d4c5;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="<%- lista.percrealizadastotal %> " aria-valuemin="0" aria-valuemax="100" style="width:<%- lista.percrealizadastotal %>%">
            <%= lista.percrealizadastotal %>%
            </div>
        </div>
    </div>

    <%- include("caminho") %>

</div>
